@import '~barfoos2.0/css/viewportDefinitions';

div.impressumSection {
	display:flex;
	flex-direction:column;
	align-items:center;
	position:relative;

	width:100vw;
	min-height:100vh;

	font-family:Nunito, Verdana;
	color:#343354;
	font-size:1.5vh;

	> header {
		margin:5vh;

		> h2.topTitle {
			font-weight:bold;
			font-size:3vh;
		}

		> span.smallTitle {
			font-size:1.2vh;
			margin-bottom:3vh;
		}
	}

	> div.content {
		background-image:radial-gradient(#ffffF9eb, #bdd0d2e8);
		padding:5vh;
		width:50vw;
		border:1px solid gray;
		margin-bottom:4vh;

		@media screen and (max-width:$iPhone6Portrait) {
			width:80vw;
			margin:auto;
		}

		> div.subTitle {
			font-weight:bold;
			margin-bottom:0.5vh;

			&:last {
				margin-bottom:2vh;
			}
		}

		> div.smallTitle {
			font-size:1vh;
			margin-top:3vh;
			opacity:0.5;
		}
	}
}
